@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
    --primary-light: #F8F6F4;
    --secondary-light: #eee9e4; 
    --icon-light: #a3a3a3;
    --text-light: #7c7c7c;


    --primary-dark: #131313;
    --secondary-dark: #282828;
    --icon-dark: #a3a3a3;
    --text-dark: #7c7c7c;
}

body {
    font-family: "Inter", sans-serif;
}

a {
    color: var(--text-light);
}

header {
    background-color: var(--primary-light);
    padding: 20px 50px;
}

.logo {
    margin-right: auto;
    font-family: "DM Serif Display", serif;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.logo-letter {
    background-color: var(--primary-dark);
    padding: 0 .4em;
    margin-right: .05em;
    color: var(--primary-light);
    border-radius: 3px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    width: 14px;
    height: 14px;
    filter: invert(12%) sepia(10%) saturate(0%) hue-rotate(266deg) brightness(105%) contrast(92%);
}

.menu .icon-dark-mode {
    padding: 0 25px;
}

.search-bar {
    display: flex;
    min-width: 300px;
    min-height: 40px;
    justify-content: space-between;
    padding: 0 25px;
    align-items: stretch;
    background-color: var(--secondary-light);
    color: var(--icon-light);
    border-radius: 4px;
    font-size: 12px;
}

.search-bar .icon {
    align-self: center;
}

.search-bar input {
    background-color: transparent;
    border: none;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    background-color: transparent;
    border: none;
}

header .title {
    text-align: center;
    padding: 80px 0;
}

header .title h1 {
    font-family: "DM Serif Display", serif;
    font-size: 3.5em;
    max-width: 40%;
    margin: auto;
    min-height: 1.2em;
}

header .title p {
    padding-top: 30px;
    line-height: 1.6em;
    font-size: 1.1em;
    max-width: 30%;
    margin: auto;
    min-height: 1.6em;
}

.collections-grid {
    padding: 80px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
}

.collection-element {
    border-bottom: var(--secondary-light) 1px solid;
}

.collection-desc,
.token-desc {
    margin: 35px;
}

.token-desc {
    text-align: center;
}

.artist-link,
.token-name {
    color: var(--text-light);
}

.collection-desc h3 {
    font-size: 1.8em;
    line-height: 1.3em;
    font-weight: 600;
    margin-top: -15px;
}

.artist-link a {
    text-decoration: none;
}

.collection-explore-link a {
    font-size: 12px;
}

.collection-img,
.token-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
    aspect-ratio: 1 / 1;
    position: relative;
}

.favourite {
    position: absolute;
    top: 15px;
    left: 15px;
    fill: black;
}

.favourited-icon {
    fill: red;
}

.collection-img img,
.token-img img {
    max-width: 300px;
    max-height: 300px;
    box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.14);
    transition: 0.5s;
}

.collection-img:has(.lazy-load-image-loaded) img:hover,
.token-img:has(.lazy-load-image-loaded) img:hover {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 20px 20px 0px;
    transform: scale(1.05) translateY(-10px);
    cursor: pointer;
}

.blur:not(.lazy-load-image-loaded) {
    filter: blur(8px);
}

.img-fullscreen {
    min-height: 60%;
    display: flex;
    justify-self: center;
    align-self: center;
}

.button {
    height: 60;
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px 55px;
    border: none;
    border-radius: 4px;
    transition: 0.5s;
}

.button-secondary {
    background-color: var(--secondary-light);
    color: var(--primary-dark);
}

.button-secondary:hover {
    background-color: var(--primary-dark);
    color: #fafafa;
    cursor: pointer;
}

.button-primary {
    background-color: var(--primary-dark);
    color: #fafafa;
}

.button-primary:hover {
    background-color: var(--secondary-dark);
    cursor: pointer;
}

footer {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    padding: 20px 50px;
    border-top: #ebe9e5 1px solid;
}

footer p {
    font-size: 0.8em;
    color: var(--secondary-dark);
}

/* modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(248, 246, 244, 0.9);
    display: flex;
    align-items: center;
    z-index: 99;
}

.overlay img {
    display: block;
    max-width: 80%;
    max-height: 90%;
    margin: auto;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    z-index: 98;
}

.overlay > span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    z-index: 999;
    cursor: pointer;
}



/* transitions */
.transition-enter {
    opacity: 0.01;
    transform: translate(0, -10px);
  }
  .transition-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 300ms ease-in;
  }
  .transition-exit {
    opacity: 1;
    transform: translate(0, 0);
  }
  .transition-exit-active {
    opacity: 0.01;
    transform: translate(0, 10px);
    transition: all 300ms ease-in;
  }


  /* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) { 
    .collections-grid { 
        grid-template-columns: 1fr;
    } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) { 
    .collections-grid { 
        grid-template-columns: 1fr;
    } 
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) { 
    .collections-grid { 
        grid-template-columns: 1fr 1fr;
    } 
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) { 
    .collections-grid { 
        grid-template-columns: 1fr 1fr 1fr;
    } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .collections-grid { 
        grid-template-columns: 1fr 1fr 1fr;
    } 
 }

body.dark {
    background-color: var(--secondary-dark);
    caret-color: var(--primary-light);
}

.dark a {
    color: var(--text-dark);
}

.dark header {
    background-color: var(--primary-dark);
}

.dark header h1 {
    color: var(--secondary-light)
}

.dark header p {
    color: var(--text-light)
}

.dark .logo {
    color: var(--primary-light);
}

.dark .icon {
    filter: invert(74%) sepia(0%) saturate(962%) hue-rotate(210deg) brightness(89%) contrast(88%);
}

.dark .search-bar {
    background-color: var(--primary-dark);
    color: var(--icon-dark);
}

.dark .button-secondary {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.dark .button-secondary:hover {
    background-color: var(--secondary-dark);
    color: var(--secondary-light);
}

.dark .collection-element {
    border-bottom: var(--primary-dark) 1px solid;
}

.dark .collection-desc h3 {
    color: var(--primary-light);
}

.dark .artist-link,
.dark .token-name {
    color: var(--text-dark);
}

.dark .collection-img, .dark .token-img {
    background-color: #404040;
}

.dark .overlay {
    background: rgba(0, 0, 0, 0.9);
    color: var(--primary-light)
}

.dark footer p {
    color: var(--secondary-light);
}

.dark footer {
    border-top: var(--primary-dark) 1px solid;
}

.dark .logo-letter {
    background-color: var(--primary-light);
    color: var(--primary-dark);
}